---
import { tweets } from "@/constants/tweets";
import Layout from "@/layouts/Layout.astro";
import Tweet from "@/components/Tweet.astro";
---

<Layout title="Can't say">
  <main class="flex-1 max-w-[600px] sm:border-r sm:border-border">
    <ul class="space-y-3">
      {
        tweets.map((i, idx) => (
          <a href={`${i.user.user}/tweet/${idx + 1}`}>
            <Tweet
              tweet={i}
              body={i.tweet}
              href={`${i.user.user}/tweet/${idx + 1}`}
              title={`Tweet ${idx + 1}`}
              images={i.photos}
            />
          </a>
        ))
      }
    </ul>
  </main>
</Layout>
