---
import { Image } from "astro:assets";
import type { Tweet } from "@/types";
import Icon from "@/icons/Icon.astro";

type Props = { tweet: Tweet; index: number };

const {
  tweet: { id, user, tweet: body, photos: images },
  index,
} = Astro.props;
const viewTweetHref = `/${user.user}/tweet/${index + 1}`;
const userHref = "#"; //`https://x.com/${user.user}`;
//class="rounded-md aspect-auto border border-border w-auto"
---

<li class="grid grid-cols-8 bg-background hover:bg-muted">
  <a href={viewTweetHref} class="pt-4">
    <Image
      width="40"
      height="40"
      src={user.photo}
      alt="user photo"
      class="rounded-full mx-auto"
    />
  </a>

  <div class="col-span-7 pt-3">
    <div class="w-auto flex text-base gap-1">
      <a class="flex gap-1" href="#">
        <h2 class="font-bold hover:underline">
          {user.name}
        </h2>
        <h2 class="text-muted-foreground">
          @{user.user}
        </h2>
      </a>
      <span class="block text-muted-foreground">·</span>
      <a href={viewTweetHref} class="flex-1">
        <span class="block text-muted-foreground">2h</span>
      </a>
    </div>

    <a href={viewTweetHref}>
      <p class="block text-base pr-4 pb-4 leading-5">
        {body}
      </p>
    </a>
    <div>
      {
        images.map((img, idx) => (
          <Image
            transition:name={`img${index}${idx}`}
            src={`https://pbs.twimg.com/media/${img}?format=webp&name=small`}
            width="130"
            height="130"
            alt="tweet image"
            class="rounded-md aspect-square border border-border"
          />
        ))
      }
      <!-- <div class="bg-red-500 w-full"></div> -->
      <div>
        <a href={viewTweetHref} class="w-4 block bg-red-500"></a>
      </div>
    </div>
    <a
      href={viewTweetHref}
      class="flex py-3 pr-4 items-center justify-between text-sm text-muted-foreground"
    >
      <button class="flex justify-center items-center gap-2">
        <Icon name="reply" class="h-[18.5px] w-[18.5px]" />
      </button>
      <button class="flex justify-center items-center gap-2">
        <Icon name="retweet" class="h-[18.5px] w-[18.5px]" />
        <span>2</span>
      </button>
      <button class="flex justify-center items-center gap-2">
        <Icon name="like" class="h-[18.5px] w-[18.5px]" />
        <span>13</span>
      </button>
      <button class="flex justify-center items-center gap-2">
        <Icon name="stats" class="h-[18.5px] w-[18.5px]" />
        <span>13</span>
      </button>
      <button class="flex justify-center items-center gap-2">
        <Icon name="share" class="h-[18.5px] w-[18.5px]" />
      </button>
    </a>
  </div>
</li>
