---
import { Image } from "astro:assets";
import type { Tweet } from "@/types";
type Props = {
  tweet: Tweet;
  index: number;
};

const { tweet, index } = Astro.props;
const { user, tweet: body, photos: images } = tweet;
const viewTweetHref = `/${user.user}/tweet/${index + 1}`;
---

<li class="grid grid-cols-7 bg-background transition-all hover:bg-muted">
  <a href={viewTweetHref} class="bg-zinc-900 pt-4">
    <Image
      width="40"
      height="40"
      src={user.photo}
      alt="user photo"
      class="rounded-full mx-auto"
    />
  </a>

  <div class="col-span-6 pt-4">
    <h1 transition:name="title">
      {user.name}
    </h1>
    {
      images.map((img, idx) => (
        <Image
          transition:name={`img-${idx}`}
          src={`https://pbs.twimg.com/media/${img}?format=webp&name=small`}
          width="130"
          height="130"
          alt="tweet image"
        />
      ))
    }
    <span class="block">
      {body}
    </span>
  </div>
</li>
