---
import { Image } from "astro:assets";
import type { Tweet } from "@/types";
import Icon from "@/icons/Icon.astro";

type Props = { tweet: Tweet; index: number };

const {
  tweet: { id, user, tweet: body, photos: images },
  index,
} = Astro.props;
const viewTweetHref = `/${user.user}/tweet/${index + 1}`;
const userHref = "#"; //`https://x.com/${user.user}`;
//class="rounded-md aspect-auto border border-border w-auto"
---

<li class="grid grid-cols-8 bg-background hover:bg-muted">
  <a href={viewTweetHref} class="pt-4">
    <Image
      width="40"
      height="40"
      src={user.photo}
      alt="user photo"
      class="rounded-full mx-auto"
    />
  </a>
  <div class="col-span-7 pt-3">
    <div class="w-auto flex text-base gap-1">
      <a class="flex gap-1" href="#">
        <h2 class="font-bold hover:underline flex items-center text-center">
          {user.name}
          {
            user.verified && (
              <Icon name="verified" class="w-5 h-5 ml-1 text-accent-blue" />
            )
          }
        </h2>
        <h2 class="text-muted-foreground">
          @{user.user}
        </h2>
      </a>
      <span class="block text-muted-foreground">·</span>
      <a href={viewTweetHref} class="flex-1">
        <span class="block text-muted-foreground">2h</span>
      </a>
    </div>

    <a href={viewTweetHref}>
      <p class="block text-base pr-4 pb-4 leading-5">
        {body}
      </p>
    </a>
    <div class="flex">
      {
        images.map((img, idx) => (
          <Image
            transition:name={`img${index}${idx}`}
            src={`https://pbs.twimg.com/media/${img}?format=webp&name=small`}
            width="130"
            height="130"
            alt={`Tweet ${index + 1} image ${idx}`}
            class="rounded-md  border border-border w-[calc(100%-1rem)]"
          />
        ))
      }
      <div>
        <a href={viewTweetHref} class="w-4 h-full block"></a>
      </div>
    </div>
    <a
      href={viewTweetHref}
      class="flex -ml-2 py-3 pr-4 items-center justify-between text-sm text-muted-foreground transition-all"
    >
      <button
        aria-label="replies"
        class="group flex justify-center items-center hover:text-accent-blue transition-colors"
      >
        <div class="p-2 rounded-full group-hover:bg-accent-blue/10">
          <Icon name="reply" class="h-[18.5px] w-[18.5px]" />
        </div>
        <span>13</span>
      </button>
      <button
        aria-label="retweets"
        class="group flex justify-center items-center hover:text-accent-green transition-colors"
      >
        <div class="p-2 rounded-full group-hover:bg-accent-green/10">
          <Icon name="retweet" class="h-[18.5px] w-[18.5px]" />
        </div>
        <span>2</span>
      </button>
      <button
        aria-label="likes"
        class="group flex justify-center items-center hover:text-accent-red transition-colors"
      >
        <div class="p-2 rounded-full group-hover:bg-accent-red/10">
          <Icon name="like" class="h-[18.5px] w-[18.5px]" />
        </div>
        <span>13</span>
      </button>
      <button
        aria-label="engagement"
        class="group flex justify-center items-center hover:text-accent-blue transition-colors"
      >
        <div class="p-2 rounded-full group-hover:bg-accent-blue/10">
          <Icon name="stats" class="h-[18.5px] w-[18.5px]" />
        </div>
        <span>13</span>
      </button>
      <button
        id={`share-btn-${index}`}
        aria-label="share"
        class="group flex justify-center items-center hover:text-accent-blue transition-colors"
        transition:animate="none"
      >
        <div class="p-2 rounded-full group-hover:bg-accent-blue/10">
          <Icon name="share" class="h-[18.5px] w-[18.5px]" />
        </div>
      </button>
    </a>
  </div>
</li>
