---
import { Image } from "astro:assets";
import type { Tweet } from "@/types";

type Props = { tweet: Tweet; index: number };

const { tweet, index } = Astro.props;
const { user, tweet: body, photos: images } = tweet;
const viewTweetHref = `/${user.user}/tweet/${index + 1}`;
const userHref = "#"; //`https://x.com/${user.user}`;
---

<li class="grid grid-cols-10 bg-background transition-all hover:bg-muted">
  <a href={viewTweetHref} class="pt-4">
    <Image
      width="40"
      height="40"
      src={user.photo}
      alt="user photo"
      class="rounded-full mx-auto"
    />
  </a>

  <div class="col-span-9 pt-3">
    <div class="w-auto flex text-base gap-1">
      <a class="flex gap-1" href="#">
        <h2 transition:name="username" class="font-bold hover:underline">
          {user.name}
        </h2>
        <h2 class="text-muted-foreground">
          @{user.user}
        </h2>
      </a>
      <span class="block text-muted-foreground">·</span>
      <a href={viewTweetHref} class="flex-1">
        <span class="block text-muted-foreground">2h</span>
      </a>
    </div>

    <a href={viewTweetHref}>
      <p class="block text-base pr-4 leading-5">
        {body}
      </p>
    </a>
    <div class="grid grid-cols-2">
      {
        images.map((img, idx) => (
          <Image
            transition:name={`img-${idx}`}
            src={`https://pbs.twimg.com/media/${img}?format=webp&name=small`}
            width="130"
            height="130"
            alt="tweet image"
            class="rounded-md border border-border w-full"
          />
        ))
      }
    </div>
  </div>
</li>
